/* shapes.css */

/* -------------------------------------------------------
   BASE SIZING
-------------------------------------------------------- */
@layer base {
  :root {
    /* Border Radius System */
    --radius: 0.625rem;
  }
}

/* -------------------------------------------------------
   TAILWIND SIZING TOKEN EXPORTS
-------------------------------------------------------- */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
